<p>That is true genius of this nation. But I stand before you tonight because all across America something is stirring. Indeed, it suggests the opposite: we must face these tensions squarely. This same story can be told by people from South Africa to South Asia; from Eastern Europe to Indonesia. At the same time, Israelis must acknowledge that just as Israel's right to exist cannot be denied, neither can Palestine's. It's a faith in other people, and it's what brought me here today.</p>

<p>He was a good-looking kid, six two, six three, clear eyed, with an easy smile. It's a war I'm proud I opposed from the start - a war that should never have been authorized and never been waged. In Washington, they call this the Ownership Society, but what it really means is - you're on your own. Yes, we must provide more ladders to success for young men who fall into lives of crime and despair. We are taking concrete actions to change course. This bond is unbreakable.</p>

<p>Our Party has chosen a man to lead us who embodies the best this country has to offer. But the anger is real; it is powerful; and to simply wish it away, to condemn it without understanding its roots, only serves to widen the chasm of misunderstanding that exists between the races.</p>

<p>They cheered on the steps of the Lincoln Memorial when Dr. But as Americans, we also know that this is a nation of laws, and we cannot have those laws broken when more than 2,000 people cross our borders illegally every day. And they are a part of America, this country that I love. We meet at a time of tension between the United States and Muslims around the world - tension rooted in historical forces that go beyond any current policy debate. Make no mistake: we do not want to keep our troops in Afghanistan. 9/11 was an enormous trauma to our country.</p>

<p>And it puts the lie to the notion that the separation of church and state in America means faith should have no role in public life. And today, we import triple the amount of oil as the day that Senator McCain took office. But I will also go through the federal budget, line by line, eliminating programs that no longer work and making the ones we do need work better and cost less - because we cannot meet twenty-first century challenges with a twentieth century bureaucracy.</p>

<p>God bless you.</p>
