<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th>notes</th>
      </tr>
      <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.note %></td>
      </tr>
      <% end %>
    </table>
    <a href="/">Back to main</a>
  </body>
</html>
