<p>There are <%= @contacts.count %> contacts</p>
<ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email -%>)</li>
    <li><a href="#">Edit</a> | <a href="#">Delete</a></li>
  <% end %>
</ul>
