<h1>Are you sure you want to delete <%= @contact.first_name %> <%= @contact.last_name %>?</h1>

<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete Contact'>
</form>
<a href="/contacts">Go Back!</a>
