<h1>Welcome to My CRM</h1>
<p>Customer relationship management (CRM) is not just the application of technology, but is a strategy to learn more about customers' needs and behaviours in order to develop stronger relationships with them. As such it is more of a business philosophy than a technical solution to assist in dealing with customers effectively and efficiently. Nevertheless, successful CRM relies on the use of technology.</p>
