<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">.
    <link rel="stylesheet" type="text/css" href="http://localhost:4567/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4567/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <div class="wrapper">
    <body>
      <header>
        <h1>Bitmaker CRM</h1>
        <a href="/">Home</a>
        <a href="/new">Add a contact</a>
        <a href="/about">about</a>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <p>&copy; Bitmaker 2017</p>
      </footer>
    </body>
  </div>
</html>
